@import 'jeet/index'
@import '_defaults'
@import '_grid'

body
	background #f2f2f2
	margin 0
	padding 0
	background bg
	font-family avenir, sans
	p
		font-size 22px
		// text-rendering geometricPrecision
a
	color #E75141