include ./spacemixins.jade

doctype html
html
	head
		meta(charset="utf-8")
		title Space.js
		+head("space.js")
		//- script(src="jquery-2.0.2.min.js")
		//- link(rel="stylesheet", type="text/css", href="css/main.css")



body

	//- Mixins

	mixin frame(bg)
		.space-frame&attributes(attributes)
			if bg
				+bg(bg)
			section.space-inner-frame
				block

	mixin bg(src)
		.background(style="background-image:url(#{src});")

	+frame
		section.center
			img.inline(src="img/spacejs.png", width="300px" alt="")
		p.center.nm A HTML-driven JavaScript-library for narrative parallax.
		p.center.small.underline: a(href="demo1.html") Check out the demos
		nav.codrops-demos.center
			a.modal(href="demo1.html")
				b Demo 1 –  
				| The Gallery
			a.modal(href="demo2.html")
				b Demo 2: 
				| Out of Space
		//- p.center
		//- 	a(href="/") Documentation
		//- 	|  | 
		//- 	a(href="https://github.com/gopatrik/space.js") GitHub Repository
		//- p.center.small.mt-large Scroll for a quick demo.

		p.center
			a.modal(href="https://github.com/gopatrik/space.js") API &amp; Souce / GitHub

		p.center
			| Or read 
			a.modal(href="/articles/space.js/") the Article

	script(src="space.js")

