include ./spacemixins.jade

doctype html
html
	head
		meta(charset="utf-8")
		title Space.js
		+head("space.js")
		//- script(src="jquery-2.0.2.min.js")
		//- link(rel="stylesheet", type="text/css", href="css/main.css")



body

	//- Mixins

	mixin frame(bg)
		.space-frame&attributes(attributes)
			if bg
				+bg(bg)
			section.space-inner-frame
				block

	mixin bg(src)
		.background(style="background-image:url(#{src});")

	+frame
		section.center
			img.inline(src="img/spacejs.png", width="300px" alt="")
		p.center.nm A HTML-driven JavaScript-library for narrative parallax.
		p.center.small.underline: a(href="demo1.html") Check out the demos
		nav.codrops-demos.center
			a.modal(href="demo1.html")
				b Demo 1 –  
				| The Gallery
			a.modal(href="demo2.html")
				b Demo 2: 
				| Out of Space
		//- p.center
		//- 	a(href="/") Documentation
		//- 	|  | 
		//- 	a(href="https://github.com/gopatrik/space.js") GitHub Repository
		//- p.center.small.mt-large Scroll for a quick demo.

		p.center
			a.modal(href="https://github.com/gopatrik/space.js") API &amp; Souce / GitHub

		p.center
			| Or read 
			a.modal(href="/articles/space.js/") the Article

		section.narrow.mt-large(style="height:100px;")
			.third(style="text-align:right;")
				.portrait-frame.inline(style="background-image:url(img/astro_small.jpg);")
			.two-third
				.mt(style="font-size:8px;") Author.
				.nm.small(style="margin-bottom:5px;") Patrik Goethe
				div: a(href="https://twitter.com/gopatrik", class="twitter-follow-button" data-show-count="true")
				.nm(style="font-size:8px;") PS. Not real astronaut.

	script(src="space.js")
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

